 .custom-scroll::-webkit-scrollbar {
      width: 6px;
    }
    .custom-scroll::-webkit-scrollbar-thumb {
      background: #1e293b;
      border-radius: 10px;
    }
    .custom-scroll::-webkit-scrollbar-track {
      background: transparent;
    }